.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 80px 24px 80px;
    gap: 10px;
    width: 1920px;
    height: 72px;
    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 851px;

    width: 1707px;
    height: 45px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.left-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 150px;
    height: 45px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.logo{
    position: absolute;
    width: 158px;
    height: 45px;
    left: 0px;
    top: 0px;
    margin-left: 80px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    background: linear-gradient(90.72deg, #0096FF 42.18%, #0048FF 93.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.logo-container{
    width: 158px;
    height: 45px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 150px;
}
.course-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 97px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    height: 24px;
    left: 222px;
    top: 10.5px;
    border-radius: 0px;

}
.courses{
    width: 61px;
    height: 19px;
    left: 0px;
    top: 2.5px;
    border-radius: nullpx;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.icon-container{
    width: 24px;
    height: 24px;
    left: 10px;
    top: 0px;
    border-radius: 0px;
}
.icon{
    left: 20%;
    right: 25%;
    top: 35.75%;
    bottom: 33.33%;
    height: 7.420000076293945px;
    width: 12px;
    left: 0px;
    top: 10px;
    border-radius: 0px;
}
.programs-container{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 109px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    left: 383px;
    top: 10.5px;
    border-radius: 0px;

}
.programs{
    width: 73px;
    height: 19px;
    top: 2px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.right-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 364px;
    height: 40px;
    left: 1343px;
    top: 2.5px;
    border-radius: 0px;
    margin-left: 260px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.login{
    width: 46px;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 166px;
    height: 40px;
    left: 198px;
    top: 0px;
    padding: 10px 42px 10px 42px;


    background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
    border-radius: 52px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.join-button{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}